<header class="header">
  <nav class="navbar">
    <ul class="navbar__ul routerLinks">
      <li>
        <a routerLink="/home" routerLinkActive="active" class="link">Home</a>
      </li>
      <li>
        <a routerLink="/skills" routerLinkActive="active" class="link"
          >Skills</a
        >
      </li>
      <li>
        <a routerLink="/projects" routerLinkActive="active" class="link"
          >Projects</a
        >
      </li>
      <li>
        <a routerLink="/contact" routerLinkActive="active" class="link"
          >Contact</a
        >
      </li>
    </ul>
    <ul class="navbar__ul social">
      <li>
        <a href="" class="social__link"
          ><mat-icon svgIcon="github" class="header__icon"
        /></a>
      </li>
      <li>
        <a href="" class="social__link"
          ><mat-icon svgIcon="linkedin" class="header__icon"
        /></a>
      </li>
    </ul>
  </nav>
</header>
