<header class="header">
  <nav class="navbar">
    <ul class="navbar__ul routerLinks">
      <li>
        <a routerLink="/home" routerLinkActive="active" class="link">Home</a>
      </li>
      <li>
        <a routerLink="/skills" routerLinkActive="active" class="link"
          >Skills</a
        >
      </li>
      <li>
        <a routerLink="/projects" routerLinkActive="active" class="link"
          >Projects</a
        >
      </li>
      <li>
        <a routerLink="/contact" routerLinkActive="active" class="link"
          >Contact</a
        >
      </li>
    </ul>
    <a
      href="/assets/CV.pdf"
      download="Julio Macias Caldera CV.pdf"
      class="header__button--downloadcv"
    >
      Download my CV <mat-icon class="download__icon">file_download</mat-icon>
    </a>
    <ul class="navbar__ul social">
      <li>
        <a href="" class="social__link"
          ><mat-icon svgIcon="github" class="header__icon"
        /></a>
      </li>
      <li>
        <a href="" class="social__link"
          ><mat-icon svgIcon="linkedin" class="header__icon"
        /></a>
      </li>
    </ul>
  </nav>
</header>
