.header {
  padding: 1rem 0rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid white;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  box-sizing: border-box;

  .navbar__ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
  }

  .routerLinks {
    margin-left: 1rem;
  }

  .social {
    margin-right: 1rem;
  }

  .header__button--downloadcv {
    all: unset;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    padding: 0.5rem 1rem;
    background-color: DodgerBlue;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;

    &:hover {
      background-color: RoyalBlue;

      .download__icon {
        animation: slideDownAndUp 1s ease-in-out forwards;
      }
    }
  }
}

.link {
  color: white;
  text-decoration: none;
}

.active {
  display: block;
  padding: 0.3rem 0.6rem;
  background-color: white;
  color: grey;
  transition: all 0.5s;
  border-radius: 5px;
}

.header__icon {
  height: 35px;
  width: 35px;
  color: white;
}

@keyframes slideDownAndUp {
  0%,
  100% {
    transform: translateY(0);
    opacity: 1;
  }
  25% {
    transform: translateY(47%);
    opacity: 0;
  }
  50%,
  75% {
    transform: translateY(-47%);
    opacity: 0;
  }
}
